    <nav>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="whatsnew.html">What's New</a></li>
                <li><a href="learn.html">Learn</a></li>
                <li><a href="tech.html">Tech</a></li>
                <li><a href="index.html">Home</a></li>
                
            </ul>
            <p id="logo">CoderConner</p>
     </nav>