@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  

}
/*body{
    display: flex;
  height: 100%;
  width: 100%;
  place-items: center;
  
    background: white;
    align-items: center;
    justify-content: center;
    place-items: center;
  overflow: hidden;
  color: gray;

  
}*/
button a{
  text-decoration: none;
  
}
.topnav a img{
  position: absolute;
  margin-left: 130px;
  margin-top: -35px;
  filter: invert(0);
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(250, 238, 215);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #686868;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #000000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidehoverbar .openbtn{
  position: absolute;
  top: 0px;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;

     
}
nav a {
  text-decoration: none;
  color: rgb(214, 214, 214);
  font-size: .8rem;
  
}

nav a:hover {
  color: rgb(103, 103, 103);
}


nav .topnav #myLinks {
  margin-right: 20px;
margin-top: -35px;
  list-style-type: none;
 float: right; 
  padding: 10px;
 text-align: left;
text-decoration: none;
height: 20px;
font-size: 15px;


}
nav{
  display: block;
}
.topnav a .icon{
  width: 10px;
}
.topnav #myLinks a{   
text-decoration: none;
font-weight: bold;
padding: 10px;
padding-left: 20px;
height: 50px;
font-size: 15px;
color: white
}
.topnav a.icon {
background: black;
display: none;
position: absolute;
right: 0;
top: 0;

}
.topnav #myLinks a:hover {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
header img{
  margin-top: 5px;
  margin-left: -1020px;
  opacity: 1;
  filter: drop-shadow(0 0 0 blue) saturate(1000%);
}
.card nav ul a{
  color: white;
}
.card nav ul{
  background-color: black;
  z-index: -100;
}
#nav-bar{
  background-color: black;
  position: absolute;
  width: 100%;
  height: 60px;
 position: fixed;
 z-index: 100;

}


#html-nav-bar{
 
  float:right;
  margin-right: 20px;
  }
  #html-nav-bar a{
    color: white; 
  }
nav ul li{
 list-style-type: none;
 float: left; 
 padding-left: 20px;
 padding-top: 20px;
 text-decoration: none; 
}

nav ul li a{
  text-decoration: none;
  padding-left: 20px; 
  font-size: 16px;
  color: black;
  font-weight: bold;

}

#nav-bar a:hover{
background-color: rgb(255, 72, 0);
}
.black-div{
  width: 100%;
height: 255px;

 background-image: linear-gradient(black, rgb(18, 18, 18));
 
}
.black-div p{
  text-transform: uppercase;
  letter-spacing: .5em;
 text-align: center;
  border: 4px double rgba(255,255,255,.25);
  border-width: 4px 0;
  font-size: 1.1vw;
  position: relative;
 
 padding-top: 0px;
  padding-bottom: 0px;
  top: 30px;
  width: 100%;
 
  color: white;
}
.black-div span{
  font: 12vw "Oswald", sans-serif;
  letter-spacing: 0;
 
  display: block;
  text-shadow: 0 0 80px rgba(255,255,255,.5);
  text-align: center;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  animation: shine 3s linear infinite; 
  background-size: 80%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255,255,255, .1);
  
/* Clip Background Image */
  
  /* background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text; */

/* Animate Background Image */

  /* -webkit-text-fill-color: transparent;
  -webkit-animation: shine 80s linear infinite; */

/* Activate hardware acceleration for smoother animations */

  /* -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden; */
}
@keyframes shine{
  0%{background-position: -500%;}
  100%{background-position: 500%;}
}
  .brain{
   
    width: 100%;
   height: 100%; 
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;

    /*
    position: absolute;
  
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
   
    */
    }
    .software{
      /* background-image: url("../images/diffProg.png"); */
      /* background-image: url("../images/bg_nikkiinit_home.jpeg"); */
/* background-image: url("../images/orangeWeb-homePage.jpeg"); */
background-image: url("../images/bg_nikkiinit_home.jpeg") ; 


      width: 100%;
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      
     
    }
   
    .card{
    /*background-image: url("../images/htmltag.jpg");*/
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 8%;
    width: 100%;
    height: 100%;
   
    margin-top: -50px;
    border-radius: 10px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(1, 1, 1, 0.3);
    /* background: rgba(7, 7, 7, 0.7); */
    box-shadow:
  0 14.8px 4.2px rgba(0, 0, 0, 0.034),
  0 11.7px 7.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;  
}

  /* #software-info1{
    
    margin-top: 100px;
    z-index: -1;

  } */
  
 .card #rotate-p  {
  
    /* transform: rotate(-90deg); */
   display: inline-block; 
    margin-top: 10px;
    padding-bottom: 35px;
   font-weight: bold;
    margin-left: 10px;
    color: azure;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
 }
 /* .card #software-info1 p{
margin-top: 20px;
padding-bottom: 10px;
line-height: 1.2;
margin-left: 50px;
font-size: 3vw;
color: rgb(255, 255, 255);
font-family: 'Times New Roman', Times, serif;
padding-top: 20px;
 } */
 .card #software-info1 p:nth-child(2){
   font-size: 20px;
 }
    .card #software-info2 {
     z-index: 999;
      width: 280px;
      margin-left: -90px;
      margin-top: -210px;
      color: azure;
      font-family: 'Times New Roman', Times, serif;
      
    }
.card #software-info2 h1 {

margin-bottom: 10px;
    }
   .card #software-info2 button{
     width: 90px;
     padding: 3px;
     margin-top: 10px;
     background-color: rgb(173, 132, 28);
     border-radius: 5px;
     border:none;
    
     box-shadow:
     0 14.8px 4.2px rgba(0, 0, 0, 0.034),
     0 11.7px 7.3px rgba(0, 0, 0, 0.048),
     0 12.5px 10px rgba(0, 0, 0, 0.06),
     0 22.3px 17.9px rgba(0, 0, 0, 0.072),
     0 41.8px 33.4px rgba(0, 0, 0, 0.086),
     0 100px 80px rgba(0, 0, 0, 0.12)
   ;  
   }
    /*
    
#software-info1{

  width: 100%;
  height: 100%;
  top: 40%;
  left: 15%;
  padding: 10px;
  background-color: black;
  opacity: 0.2;
  z-index: -100;
}
#software-info1 h1, p{
  color: black;
  
  z-index: -100;
}*/
#software-info {
  width: 300px;
  height: auto;
  position: relative;
  padding: 20px;
  top: 40%;
  left: 15%;
  border-radius: 20px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;  
 

}

#software-info2{
  width: 300px;
  height: auto;
  position: relative;
  padding: 20px;
  top: 55%;
  left: 16%;
  font-size: 1.4vw;

}
.brain{
    /* background-image: url('../images/notebook.jpg'); */
    background-image: url('../images/python-book.jpg');
    background-color: #cccccc;
    height: 933px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -100;
  
 
/*
  width: 100%;
 height: 100%;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  */
}
#html-info{
  color: white;
  width: 250px;
  position: absolute;
  top:200px;
  left: 60px;
  font-size: 15px;
/*
  border-radius: 10px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;  
*/
}
#html-info h1{
  font-size: 34px;
  margin-bottom: 20px;
}
#html-info button a{
  font-size: 25px;
  color: whitesmoke;
}
.brain #code{
  display: inline;
  position: absolute;
background-image: url('../images/code-trans.png');
background-repeat: no-repeat;
position: absolute;
width: 465px;  
height: 300px;
left: -25%;
top: 50px;

border-radius: 10px;
box-shadow:
0 14.8px 4.2px rgba(0, 0, 0, 0.034),
0 11.7px 7.3px rgba(0, 0, 0, 0.048),
0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072),
0 41.8px 33.4px rgba(0, 0, 0, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12)
;  
}
#code-header{
  display: inline;
  position: absolute;
  
  top: 250px;
  left: 70%;
}
.brain #html-info p{
  color: white;
}
#line-dot{
  width: 200px;
  position: absolute;
  top: 350px;
  left: 300px;
}
.brain #html-info button{
position: absolute;
text-align: center;
background-color: rgb(237, 97, 197);
width: 150px;
padding: 8px;
font-size: 25px;
color: white;
border:none;
margin-top: 30px;
}

/* ROBOT */
.robot{
  background-image: url('../images/robotics.jpg');
  background-color: #cccccc;
  height: 933px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

#pink-think{
  position: absolute;
  left: 25%;
  top: 20%;
  transform: scaleX(-1);
}
.pink-text{
  position: absolute;
  left: 31%;
  top: 32%;
  color: rgb(252, 97, 221);
  transform: translate(-50%, -50%);
  font-weight: bold;
}
#red-think{
  position: absolute;
  left: 60%;
  top: 20%;
}
.robot-info h1{
  font-size: 38px;
  margin-bottom: 20px;
}
.robot-info{
  width: 250px;
  position: absolute;
  top:120px;
  left: 30px;
  font-size: 15px;
  color: #ecf0f3;
}
.robot-info button{
  width: 150px;
  padding: 8px;
  font-size: 15px;
  background-color: rgb(255, 183, 0);
  color: white;
  /* border-color: rgb(173, 132, 28); */
  border:none;
  margin-top: 30px;
}

/*KEYBOARD*/
.pink-keyboard{
  background-image: url('../images/blackkeyboard.jpg');
  background-color: #cccccc;
  height: 933px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}
.pink-keyboard .keyboard-info{
  position: relative;
  float: left;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  color: white;
  
}
.keyboard-info button{
  width: 150px;
  padding: 8px;
  font-size: 25px;
  background-color: #ff0000;
  color: white;
  border-color: #ff0000;
  border:none;
  margin-top: 30px;
  
}


.music{
  background-image: url('../images/music-homepage2.jpg');
  background-color: #cccccc;
  height: 833px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.music-info{
  width: 500px;
  position: absolute;
  left: 90px;
  top: 200px;
  color: white;
}
.music-info h1{
  margin-bottom: 50px;
}

.music-info button{
  background-color: #ff0000;
  border: none;
  padding: 10px;
  font-size: 25px;

  color: whitesmoke;
  margin-top: 60px;
}
    .think{
      position: relative;  
      height: 90%;
      /* max-height: 600px; */
      width: 90%;
      background-color: hsla(200,40%,30%,.4);
      background-image: url('../images/halfBrain.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      }

  
.nueUi{
  background-image: url("../images/modenName.jpg");
}
.nueUi{
    position: absolute;
    overflow-x: hidden;
    overflow-x: auto;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 80%;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 4px solid;
   background: white;

    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;  
}

.home-info{
  position: relative;
 margin-right: 15%;
  bottom: -40%;
}
.line{
    height: 50px;
    width: 200px;
    position: absolute;
    margin-left: -80px;
    margin-top: 150px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    -moz-transform: skew(145deg);
    -webkit-transform: skew(145deg);
   
  }
#homepage-img{   
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column-gap: 50px;
  font-size: 15px;
  width: 100%;
  height: 70%;
  padding: 80px;   
}
.info-container .heading{
 margin-top: 80px;
 width: 40%;
  float: left;
  text-align: left;
}
.info-container .heading p{
  float: right;
}
.heading h1 p{
 font-size: 20px;
 
}

#homepage-img{ 

  width: 40%;
    background-image: url("../images/magazine.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   box-sizing: border-box;
    border-radius: 20px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;  

}
#homepage-img button{
    width: 100px;
    height: 30px;
    margin-top: 350px;
  position: relative;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#data-img{ 
  width: 100%;
  height: auto;
  background-position: center center;
    background-image: url("../images/white-datacenter.jpg");
    background-size: contain;
    background-repeat: no-repeat;
 left: 20px;
    margin-top: 10px;

   box-sizing: border-box;
    border-radius: 20px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;  

}
#data-img button{
    width: 100px;
    height: 30px;
    margin-top: 350px;
    position: relative;
    top: 50%;
    left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#health-img{ 
    width: 70%;
    background-image: url("../images/healthly.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    left: 20px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;  

}
#health-img button{
    width: 100px;
    height: 30px;
    margin-top: 350px;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.icons a{
    background: #ecf0f3;
    position: relative;
    height: 60px;
    width: 60px;
    margin: 0 10px;
    display: inline-flex;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.3s;
    box-shadow: -3px -3px 7px #ffffff,
                3px 3px 5px #ceced1;
  }
  .icons a:hover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: #ecf0f3;
    box-shadow: inset -3px -3px 7px #ffffff,
                inset 3px 3px 5px #ceced1;
  }
  .icons a i{
    position: relative;
    z-index: 3;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 25px;
    line-height: 60px;
  }
  .icons a:hover i{
    transform: scale(0.9);
  }
  .icons a.fb i{
    color: #4267B2;
  }
  .icons a.twitter i{
    color: #1DA1F2;
  }
  .icons a.insta i{
    color: #E1306C;
  }
  .icons a.git i{
    color: #333;
  }
  .icons a.yt i{
    color: #ff0000;
  }
  /*
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }*/

  /* @-webkit-keyframes shine {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  } */



  footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 5px;
     height: 200px;
    
     width:100%;
     /* border-top: solid rgba(255, 221, 0, 0.5); */
     border-top: rgb(255, 72, 0);
     box-shadow: 3px 4px 11px 16px #000;
   
    background-color: rgb(21, 21, 21);
   
    
}



footer div{
    margin-left: 80px;
}
footer h6{
    font-size: 1.3vw;
    margin-bottom: 10px;
    color: white;
    
}
footer div img{
    width: 20px;
    margin-top: 30px;
}
footer .social-media-list ul{
    margin-top: 5px;
 
}
footer .footer-best-info{
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif;
    color:white
}
footer .social-media-list li a{
 text-decoration: none;
 color: white;
 font-size: 1.2vw;
 font-family: Arial, Helvetica, sans-serif;
  
}
footer .social-media-list li{
   
    list-style-type: none;
  
   
}
address{
    font-size: 1.2vw;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white
} 
/* mobile devices*/
@media all and (min-width: 0px) and (max-width:480px){

  .topnav a img{
    margin-top: -35px;
  }
  footer{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-column-gap: 5px;
   height: 200px; 
   width:100%;
   border-top: solid rgba(255, 221, 0, 0.5);
   box-shadow: 3px 4px 11px 16px #000;
  background-color: rgb(21, 21, 21);
}
nav .topnav #myLinks {
  display: none;
}
.black-div{
  width: 100%;
height: 155px;

 background-image: linear-gradient(black, rgb(18, 18, 18));
 
}
.card #rotate-p  {
  
  /* transform: rotate(-90deg); */
 display: inline-block; 
  margin-top: 10px;
  padding-bottom: 35px;
 font-weight: bold;
  margin-left: 10px;
  color: azure;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/* .card #software-info1 p{
margin-top: 20px;
padding-bottom: 10px;
line-height: 1.2;
margin-left: 50px;
font-size: 3vw;
color: rgb(255, 255, 255);
font-family: 'Times New Roman', Times, serif;
padding-top: 20px;
} */

.software{
 width: 100%;
}
.card{
  width: 100%;
}
.card #software-info2 p{
  font-size: 15px;
  color: white;
}
  .card #software-info2 {
    width:90%;
    height: 340px;
    position: absolute;
    top:420px;
    left: 110px;
    font-size: 15px;
    color: #ecf0f3;
    background-color:black;
    border: 1px solid black;
    opacity: 0.8;
    padding: 10px;
    z-index: 99;
  }
.card #software-info2 h1 {
font-size: 20px;
margin-bottom: 13px;
  }
 .card #software-info2 button{
   width: 170px;
   margin-left: 100px;
   padding: 3px;
  font-size: 25px;
   background-color: rgb(173, 132, 28);
   border-radius: 5px;
   border:none;
 }
.robot{
  width: 100%;
  height: 600px;
}
 .robot-info h1{
  font-size: 38px;
  margin-bottom: 20px;
}
.robot-info{
  width:90%;
  height: 410px;
  position: absolute;
  top:120px;
  left: 20px;
  font-size: 15px;
  color: #ecf0f3;
  background-color:black;
  border: 1px solid black;
  opacity: 0.8;
  padding: 10px;
}
.robot-info button{
  width: 150px;
  padding: 8px;
  font-size: 15px;
  background-color: rgb(255, 183, 0);
  color: white;
  /* border-color: rgb(173, 132, 28); */
  border:none;
  margin-top: 30px;
  margin-left: 120px;
  font-size: 20px;
}
.brain{
  width:100%;
  height: 640px;
}
#html-info{
  width:90%;
  height: 340px;
  position: absolute;
  top:120px;
  left: 20px;
  font-size: 15px;
  color: #ecf0f3;
  background-color:black;
  border: 1px solid black;
  opacity: 0.8;
  padding: 10px;
}
#html-info button{
  width: 150px;
  padding: 8px;
  font-size: 15px;
  background-color: rgb(255, 183, 0);
  color: white;
  /* border-color: rgb(173, 132, 28); */
  border:none;
  margin-top: 30px;
  margin-left: 110px;
  font-size: 20px;
}
.music-info{
  width:90%;
  height: 440px;
  position: absolute;
  top:120px;
  left: 20px;
  font-size: 15px;
  color: #ecf0f3;
  background-color:black;
  border: 1px solid black;
  opacity: 0.8;
  padding: 10px;
}
.pink-keyboard .keyboard-info button{
    margin-left: 140px;
}
.music-info button{
  width: 250px;
  padding: 8px;
  font-size: 15px;
  background-color: rgb(255, 183, 0);
  color: white;
  /* border-color: rgb(173, 132, 28); */
  border:none;
  margin-top: 30px;
  margin-left: 50px;
  font-size: 20px;
}
.music{
  height: 640px;
}
.black-div{
  width: 100%;
}
.black-div p{
  font-size: 7px;
}
footer{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-column-gap: 5px;
   height: 800px;   
   width:100%;
   /* border-top: solid rgba(255, 221, 0, 0.5); */
  border-top:rgb(255, 72, 0);
   box-shadow: 3px 4px 11px 16px #000;
  background-color: rgb(21, 21, 21);
 
  
}
footer div{
  margin-left: 80px;
}
footer h6{
  font-size: 4vw;
  margin-bottom: 10px;
  color: white;
  
}
footer div img{
  width: 30px;
  margin-top: 30px;
}
footer .social-media-list ul{
  margin-top: 5px;

}
footer .footer-best-info{
  font-size: 2.6vw;
  font-family: Arial, Helvetica, sans-serif;
  color:white
}
footer .social-media-list li a{
text-decoration: none;
color: white;
font-size:2.6vw;
font-family: Arial, Helvetica, sans-serif;

}

address{
  font-size: 2.6vw;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding-bottom: 90px;
} 
}

/* ipads and tablets */
@media all and (min-width:481px) and (max-width:767px){

  footer{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-column-gap: 5px;
     height: 800px;   
     width:100%;
     /* border-top: solid rgba(255, 221, 0, 0.5); */
    border-top:rgb(255, 72, 0);
     box-shadow: 3px 4px 11px 16px #000;
    background-color: rgb(21, 21, 21);
   
    
}
footer div{
    margin-left: 80px;
}
footer h6{
    font-size: 4vw;
    margin-bottom: 10px;
    color: white;
    
}
footer div img{
    width: 30px;
    margin-top: 30px;
}
footer .social-media-list ul{
    margin-top: 5px;
 
}
footer .footer-best-info{
    font-size: 2.6vw;
    font-family: Arial, Helvetica, sans-serif;
    color:white
}
footer .social-media-list li a{
 text-decoration: none;
 color: white;
 font-size:2.6vw;
 font-family: Arial, Helvetica, sans-serif;
  
}

address{
    font-size: 2.6vw;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-bottom: 90px;
} 

.software{
  /* background-image: url("../images/diffProg.png"); */
 
  width: 100%;
  height:650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 /* z-index: -100;*/
 
}

nav .topnav #myLinks {
  display: none;
}
.black-div{
  width: 100%;
height: 155px;

 background-image: linear-gradient(black, rgb(18, 18, 18));
 
}
.card #rotate-p  {
  
  /* transform: rotate(-90deg); */
 display: inline-block; 
  margin-top: 10px;
  padding-bottom: 35px;
 font-weight: bold;
  margin-left: 10px;
  color: azure;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/* .card #software-info1 p{
margin-top: 20px;
padding-bottom: 10px;
line-height: 1.2;
margin-left: 50px;
font-size: 3vw;
color: rgb(255, 255, 255);
font-family: 'Times New Roman', Times, serif;
padding-top: 20px;
} */

.card #software-info2 p{
  font-size: 15px;
  color: white;
}
  .card #software-info2 {

    width: 380px;
    z-index: 99;
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin-top: -400px;
    margin-left: 70px;
  background-color:black;
  border: 1px solid black;
  opacity: 0.8;
  }
.card #software-info2 h1 {
font-size: 20px;
margin-bottom: 13px;
  }
 .card #software-info2 button{
  width: 170px;
  margin-left: 1px;
  padding: 3px;
 font-size: 25px;
  background-color: rgb(173, 132, 28);
  border: none;
  border:none;

 }
.robot{
  height: 600px;
}
 .robot-info h1{
  font-size: 38px;
  margin-bottom: 20px;
}
.robot-info{
  width:420px;
  height: 400px;
  position: absolute;
  top:120px;
  left: 130px;
  font-size: 15px;
  color: #ecf0f3;
  background-color:black;
  border: 1px solid black;
  opacity: 0.8;
  padding: 10px;
}
.robot-info button{
  width: 150px;
  padding: 8px;
  font-size: 15px;
  background-color: rgb(255, 183, 0);
  color: white;
  /* border-color: rgb(173, 132, 28); */
  border:none;
  margin-top: 30px;
}
.brain{
  width:600px;
  height: 640px;
}
#html-info{
 width: 400px;
  margin-left: 95px;
  margin-top: -70px;
  height: 400px;
  background-color:black;
  border: 1px solid black;
  opacity: 0.8;
  padding-top: 10px;
  padding: 20px;
}

.music-info{
  width: 400px;

  margin-left: 50px;
  margin-top: -90px;
 
  background-color:black;
  border: 1px solid black;
  opacity: 0.8;
  padding-top: 10px;
  padding: 20px;
}
.music{
  height: 640px;
}
.music-info button{
  width: 150px;
  padding: 8px;
  font-size: 15px;
  background-color:red;
  color: white;
  /* border-color: rgb(173, 132, 28); */
  border:none;
  margin-top: 30px;
}
footer{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-column-gap: 5px;
   height: 800px;   
   width:100%;
   /* border-top: solid rgba(255, 221, 0, 0.5); */
  border-top:rgb(255, 72, 0);
   box-shadow: 3px 4px 11px 16px #000;
  background-color: rgb(21, 21, 21);
 
  
}
footer div{
  margin-left: 120px;
}
footer h6{
  font-size: 4vw;
  margin-bottom: 10px;
  color: white;
  
}
footer div img{
  width: 30px;
  margin-top: 30px;
}
footer .social-media-list ul{
  margin-top: 5px;

}
footer .footer-best-info{
  font-size: 2.6vw;
  font-family: Arial, Helvetica, sans-serif;
  color:white
}
footer .social-media-list li a{
text-decoration: none;
color: white;
font-size:2.6vw;
font-family: Arial, Helvetica, sans-serif;

}

address{
  font-size: 2.6vw;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding-bottom: 90px;
} 
}

/* small screen and laptops*/
@media all and (min-width:769px) and (max-width:1024px)
{
 .card #software-info2 {
  z-index: 99;
 }
}


/* Desktops large screen*/
@media all and (min-width:1025px) and (max-width:1200px)
{
    .card #software-info2{
      z-index: 99;
    }
}



/* Extra large screens and TV*/
@media all and (min-width:1201px) 
{
  .card #software-info2{
    width: 400px;
    z-index: 99;
  }
.card #software-info2 p{
  font-size: 20px;
}
.card #software-info2 h1
{
  font-size: 25px;
}
.card #software-info2 button{
  width: 320px;
  font-size: 30px;
  text-transform: uppercase;
}
.robot-info button{
  font-size: 30px;
  width: 230px;

}
.robot .robot-info p{
  font-size: 20px;
}
.robot .robot-info h1{
font-size: 45px;
}
.robot-info{
  margin-top: 90px;
  width: 400px;
}
.black-div span{
  font: 12vw "Oswald", sans-serif;
  letter-spacing: 0;
 
  display: block;
  text-shadow: 0 0 80px rgba(255,255,255,.5);
  text-align: center;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  animation: shine 3s linear infinite; 
  background-size: 80%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255,255,255, .1);
  
/* Clip Background Image */
  
  /* background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text; */

/* Animate Background Image */

  /* -webkit-text-fill-color: transparent;
  -webkit-animation: shine 80s linear infinite; */

/* Activate hardware acceleration for smoother animations */

  /* -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden; */
}
.black-div{
  width: 100%;
height: 455px;

 background-image: linear-gradient(black, rgb(18, 18, 18));
 
}
.black-div p{
  text-transform: uppercase;
  letter-spacing: .5em;
 text-align: center;
  border: 4px double rgba(255,255,255,.25);
  border-width: 4px 0;
  font-size: 1.1vw;
  position: relative;
 
 padding-top: 0px;
  padding-bottom: 0px;
  top: 30px;
  width: 100%;
 
  color: white;
}
.robot{
  background-image: url('../images/robotics.jpg');
  background-color: #cccccc;
  width: 100%;
  height: 933px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
#html-info{
  width: 500px;
}
#html-info button{
  font-size: 35px;
  width: 330px;
}
#html-info p{
  font-size: 25px;
}
.pink-keyboard .keyboard-info{
  width: 600px;
}
.pink-keyboard .keyboard-info p{
  font-size: 25px;
}
.pink-keyboard .keyboard-info button{
  font-size: 25px;
  width: 230px;
}
.music .music-info p{
  font-size: 25px;
}
.music .music-info{
  width: 600px;
}
.music .music-info button{
  font-size: 25px;
  width: 270px;
}
}
